* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 40px;
}

body {
  margin: 0;
}

.slides {
  position: relative;
  height: 100vh;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background: #000000;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px;
  -webkit-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
  opacity: 0;
  background-position: 50% 50%;
  background-size: cover;
}
.slide.active {
  z-index: 1;
  opacity: 1;
}

.controls {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.control-next, .control-prev, .control-pause {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.control-pause {
  top: calc(50% - 20vh);
  left: calc(50% - 2.5vh);
  height: 40vh;
  padding: 0;
  -webkit-transition: opacity 0.25s ease-out;
  -o-transition: opacity 0.25s ease-out;
  transition: opacity 0.25s ease-out;
  opacity: 0;
  color: rgba(255, 255, 255, 0.4);
}
.control-pause:hover, .control-pause:focus {
  -webkit-transition: opacity 1s ease-in 0.5s;
  -o-transition: opacity 1s ease-in 0.5s;
  transition: opacity 1s ease-in 0.5s;
  opacity: 1;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.3);
}
.control-prev {
  left: 0;
  width: 10%;
  color: rgba(255, 255, 255, 0.4);
}
.control-prev:hover, .control-prev:focus {
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  text-shadow: 0 0 10px #ffffff;
}
.control-next {
  right: 0;
  width: 10%;
  color: rgba(255, 255, 255, 0.4);
}
.control-next:hover, .control-next:focus {
  color: #ffffff;
  background: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, 0.8)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  background: linear-gradient(to left, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  text-shadow: 0 0 10px #ffffff;
}

.indicators {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1em;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  gap: 10px;
}

.indicator {
  width: 35px;
  height: 2px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: rgba(255, 255, 255, 0.2);
}
.indicator:hover {
  cursor: pointer;
}
.indicator.active {
  background-color: #ffffff;
}
@media (min-width: 992px) {
  .control-next, .control-prev, .control-pause {
    cursor: pointer;
  }
  .indicator {
    cursor: pointer;
  }
}